/* Variables */
:root {
  --bg-main: #008080;
  --color-main: #fff;
  --color-inverted: #000;
}



/* Background/color/fill overrides */
body,
[aria-label="Home timeline"],
[aria-label="Trending"] > div > div,
[aria-label="Trending"] > div > div > div,
[aria-label="Trending"] aside,
[aria-label="Trending"] section {
    background: var(--bg-main) !important;
}

a span,
nav span,
[role="tab"] span,
[data-testid="UserName"] span,
[data-testid="UserProfileHeader_Items"] span,
[data-testid="UserCell"] span,
[data-testid="socialContext"],
[data-testid="SideNav_AccountSwitcher_Button"] span,
[aria-label="Timeline: Trending now"] span,
[data-testid="empty_state_body_text"],
time {
  color: var(--color-main) !important;
}

[data-testid="tweet"] svg,
[data-testid="UserCell"] svg,
[data-testid="UserProfileHeader_Items"] svg {
  fill: #fff !important
}



/* Buttons */
[aria-label="Home timeline"] > div:last-child > div > div > div:first-child div [role="link"],
[aria-label="Who to follow"] button,
[data-testid="UserCell"] button,
[aria-label="Post"],
[data-testid="empty_state_button_text"],
[data-testid="GrokDrawer"] button[aria-label="Media"] {
  background: silver !important;
  border: none;
  border-radius: 0 !important;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
  box-sizing: border-box;
  color: transparent;
  min-height: 23px;
  min-width: 75px;
  padding: 6px 12px;
  text-shadow: 0 0 #222;
}

[aria-label="Home timeline"] > div:last-child > div > div > div:first-child div [role="link"] span,
[aria-label="Who to follow"] button span,
[data-testid="UserCell"] button span,
[aria-label="Post"] span,
[data-testid="empty_state_button_text"] span {
  color: var(--color-inverted) !important;
  font-weight: 400;
}


/* Main Column */
main[role="main"] {
  padding-top: 1em;
  padding-bottom: 1em;
}

main[role="main"] div {
  border: none;
  color: var(--color-inverted);
}

[data-testid="primaryColumn"] > div > div:last-child > div > div > div:first-child,
[aria-label="Home timeline"] article,
[role="progressbar"] + div {
  background: silver;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff;
}
[data-testid="primaryColumn"] > div > div:last-child > div > div > div:first-child div,
[data-testid="primaryColumn"] > div > div:last-child > div > div > div:first-child span {
  color: var(--color-inverted) !important;
}
[data-testid="primaryColumn"] > div > div:last-child > div > div > div:first-child svg {
  fill:  var(--color-inverted) !important;
}
[aria-label="Home timeline"] article  {
  margin-top: 1em;    
}

[aria-label="Home timeline"] article div,
[aria-label="Home timeline"] article span,
[aria-label="Home timeline"] article div time {
    color: var(--color-inverted) !important;
}
[aria-label="Home timeline"] article svg {
    fill: var(--color-inverted) !important;
}
[aria-label="Home timeline"] article [data-testid="Tweet-User-Avatar"] + div {
    background: none;
}
[aria-label="Home timeline"] article > div > div > div:first-child > div:first-child > div:first-child {
    visibility: hidden;
}

[data-testid="primaryColumn"] > div > div:first-child > div > div > div {
  background: linear-gradient(90deg, navy, #1084d0); !important;
}

[data-testid="primaryColumn"] > div > div:first-child > div > div > div div {
  background: none;
  color: var(--color-main) !important;
}
[data-testid="primaryColumn"] > div > div:first-child > div > div > div h2,
[data-testid="primaryColumn"] > div > div:first-child > div > div > div h2 + div {
  vertical-align: middle;
  display: inline-block;
}
[data-testid="primaryColumn"] > div > div:first-child > div > div > div h2 + div {
    margin-left: 1em;
    top: 0.5em;
}
[data-testid="primaryColumn"] > div > div:first-child > div > div > div > div > div > div > div:last-child > div {
  display: flex;
  flex-direction: row;
}

[aria-label="Home timeline"] > div:first-child [role="navigation"] > div {
    background: var(--bg-main);
}


/* Tabs */
[role="navigation"] {
    border: none;
}

[role="tablist"] {
    display: flex;
    list-style-type: none;
    margin: 0 0 -2px;
    position: relative;
    margin-bottom: -1em !important;
}

[role="tablist"] [role="tab"] {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    z-index: 1;
    box-shadow: inset -1px 0 #0a0a0a, inset 1px 1px #dfdfdf, inset -2px 0 grey, inset 2px 2px #fff;
    background: silver;
}
[role="tablist"] [role="tab"] span {
    color: var(--color-inverted) !important;
    font-weight: 400;
    position: relative;
    top: -0.35em;
}

[role="tab"][aria-selected="false"] {
    top: .5em;
}
[role="tab"][aria-selected="false"] span {
    top: -0.55em;    
}

[data-testid="ScrollSnap-SwipeableList"] {
    top: 15px;
}

/* Textarea */
form[role="search"] {
    background: var(--bg-main) !important;
}
[role="search"] > div > div {
    appearance: none;
    background-color: #fff;
    border-radius: 0 !important;
    box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
    box-sizing: border-box;
    padding: 3px 4px;
    margin-top: 1.5em;
}
[role="search"] input {
    color: var(--color-inverted);
}


/* Sidebars */
[aria-label="Timeline: Trending now"] {
  display: none !important;
}

/* Clippy */
.clippy {
  position: fixed;
}
html.grok-hidden [data-testid="GrokDrawer"] {
  visibility: hidden !important;
}
[data-testid="GrokDrawer"] {
  top: -50px !important;
}
[data-testid="GrokDrawer"] > div {
  background: silver;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff;
  border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
[data-testid="GrokDrawer"] > div > div:first-child > div > div > div {
  background: linear-gradient(90deg, navy, #1084d0);
}
[data-testid="GrokDrawer"] div {
    border-radius: 0 !important;    
}
[data-testid="GrokDrawerHeader"] + div span {
    color: var(--color-inverted);
}

[data-testid="GrokDrawerHeader"] + div > div > div > div:first-child > div:last-child {
    appearance: none;
    background: #fff;
    background-color: #fff;
    border-radius: 0 !important;
    box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
    box-sizing: border-box;
    padding: 3px 4px;
}
[data-testid="GrokDrawerHeader"] + div > div > div > div:first-child > div:last-child textarea {
    color: #000;
}

[data-testid="GrokDrawer"] [data-testid="ScrollSnap-SwipeableList"] [role="presentation"] > div > div {
  background: silver !important;
  border: none;
  border-radius: 0 !important;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
  box-sizing: border-box;
  color: transparent;
  min-height: 23px;
  min-width: 75px;
  padding: 6px 12px;
  text-shadow: 0 0 #222;
}

[data-testid="GrokDrawer"] [data-testid="ScrollSnap-SwipeableList"] [role="presentation"] > div > div span {
    color: #000 !important;
}
[data-testid="GrokDrawer"] [data-testid="ScrollSnap-SwipeableList"] [role="presentation"] > div > div svg {
    fill: #000
}

[data-testid="GrokDrawerHeader"] + div > div:last-child > div {
    background: none;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px silver, inset -2px -2px grey, inset 2px 2px silver;  
}

[aria-label="Grok something"] > div > div {
    color: silver !important;
    height: 28px;
}
[aria-label="Grok something"]:not([disabled]) > div > div {
    color: #000 !important;
}
[aria-label="Grok something"]:not([disabled]) > div > div {
  border-radius: 0 !important;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
  box-sizing: border-box;
  color: transparent;
  padding: 5px 5px;
  text-shadow: 0 0 #222;
  background: silver;
  height: 28px;
}

/* Big Grok */
[data-testid="primaryColumn"] [aria-label="Grok"] > div:last-child > div > div > div > div > div:first-child > div:last-child {
    appearance: none;
    background: #fff;
    background-color: #fff;
    border-radius: 0 !important;
    box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
    box-sizing: border-box;
    padding: 3px 4px;

}
[data-testid="primaryColumn"] [aria-label="Grok"] > div:last-child > div > div > div > div {
    box-shadow: inset -1px 0 #0a0a0a, inset 1px 1px #dfdfdf, inset -2px 0 grey, inset 2px 2px #fff;
    background: silver !important;
}